version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: todo-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql
    networks:
      - todo-net

  backend:
    build: ./backend
    container_name: todo-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - todo-net

  frontend:
    build: ./frontend
    container_name: todo-frontend
    restart: always
    ports:
      - "8080:80"
    networks:
      - todo-net

networks:
  todo-net:

volumes:
  db_data:
